.article-page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.article-page-image {
  display: flex;
  justify-content: center;
  height: 370px;
  width: 90%;
}
.article-page-image img {
  height: 100%;
  object-fit: cover;
}
.article-page-pictures {
  display: flex;
  gap: 3px;
  height: 370px;
  width: 95%;
}
.article-page-pictures div:first-child {
  flex: 3;
}
.article-page-pictures div {
  flex: 1;
}
.article-page-pictures div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.offer-page-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
}

.offer-info-txt {
  display: flex;
  border-bottom: solid 1px #555;
  padding-bottom: 5px;
}
.p-left,
.p-right {
  margin-top: 12px;
  width: 50%;
  font-size: 0.9rem;
  color: #555;
}
.offer-owner-div {
  border-bottom: solid 1px #555;
  width: 100%;
  font-size: 0.9rem;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.owner-avatar {
  background-image: url("https://res.cloudinary.com/drhdqhrbn/image/upload/v1703564343/portfolio/phoenix5_nfhluz.png");
  background-size: cover;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 32%;
}
.owner-avatar img {
  object-fit: cover;
  height: 100%;
  border-radius: 30%;
}
