.search-container {
  width: 100%;
  max-width: 770px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  padding: 0 5px;
  height: 100%;
}

.input-search-div {
  width: 60%;
  max-width: 400px;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 30px;
}
.search-input {
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  height: 100%;
  border-radius: 4px;
  font-size: 1rem;
}
.search-input:focus {
  border-color: #2baeb7;
  box-shadow: 0 0 5px rgba(43, 174, 183, 0.5);
  outline: none;
}

.input-search-div span {
  font-size: 1rem;
  color: #2baeb7;
}
