/* Custom styles for react-select */
.react-select-container {
  display: flex;
  align-items: center;
  width: 30%;
  max-width: 230px;
  font-size: 1rem;
}

.react-select__control {
  width: 100%;
  min-height: 25px !important;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.react-select__control--is-focused {
  border-color: #2baeb7 !important;
  box-shadow: 0 0 5px rgba(43, 174, 183, 0.5) !important;
}

.react-select__value-container {
  padding: 0 !important;
  margin: 0 !important;
  height: 30px;
}

/* Adjust the single selected value */
.react-select__single-value {
  font-size: 1rem;
}

/* Adjust the indicator (dropdown arrow) padding */
.react-select__indicator {
  padding: 0 2px !important;
}

.react-select__dropdown-indicator {
  padding: 0 2px !important;
}
