@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body,
html,
#root {
  font-family: "Opens Sans", Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header {
  flex-shrink: 0; /* Empêche l'en-tête de se rétrécir */
}

footer {
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
